body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1a1a;
  color: white;
}

h1, #mainText {
  padding: 5vmin;
  margin: 4vmin;
  display: flex;
  align-items: center; 


  border-radius: 50px;
  background: #1a1a1a;
  box-shadow: 5px 5px 10px #7D14FF, 
            -5px -5px 10px #AA20FD;


}


.button {
  background-color:#1a1a1a;
  border: none;
  border-radius: 6px;
  box-shadow: 9px 9px 16px #7D14FF, -9px -9px 16px #AA20FD;
  color: white;
  margin: 5vmin;
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
  position: relative;
  width: 25vmin;
  height: 25vmin;
  padding: 20px;
}


#posters {
  display: flex;
  flex-direction: column;
  align-items: center;
}