body {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

}

h1 {
  border: 5px solid white;
  padding: 1vmin;
  margin: 2vmin;
  display: flex;
  align-items: center; 
}

#mainText {
  border: 5px solid white;
  padding: 1vmin;
  margin: 2vmin;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin: 2vmin;

 
}


input[type="image".button] {
  border: 2px solid transparent;
  padding: 1vmin;
  margin: 2vmin;

}

input[type="image"].button:hover {
  background-color: black; 
  box-shadow: 5px 5px 5px 5px white;
  color: #fff;
  transform: translateY(-7px);
  border-radius: 10px;
}


input[type="image"].button:active {
box-shadow 5px 5px 5px 5px rgba(darken(dodgerblue, 30%))
transform scale(.98)
}